name: Documentation

on:
  push:
    branches: [ main ]
    
jobs:
  doc:
    name: Generate documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: action/checkout@main
        with:
          persistant-credentials: false
          fethc-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'
      - run: npm install
      - run: npm run doc --if-present
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Github Action"
          git add doc/
          git commit -m "generate documentation"
      - name: Push doc
        uses: ad-m/github-push-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: doc
          force: true
